<ul>
	<% @messages.each do |message| %>
		<label><%= message.user.name %></label>
		<p><%= message.content %></p>
	<% end %>
</ul>
<%= form_for Message.new do |f| %>
	<%= render 'shared/errors' %>
  <%= f.hidden_field :group_id, params[:group_id] %>
  <%= f.collection_select :user_id, @group.users, :id, :name %>
  <%= f.text_area :content %>
  <%= f.submit "Send", :disable_with => 'Sending...' %>
<% end %>