<h1><%= @user.name %></h1>
<% if @user.img_url %>
	<%= image_tag @user.img_url %><br>
<% end %>
Username: <%= @user.username %><br>
Age: <%= @user.age %><br>
Bio: <p><%= @user.bio %></p>
<% if @current_user == @user %>
	<%= button_to "Edit", edit_user_path(@user), method: :get %>
<% end %>