<h2 class="ui header">Restaurant Finder</h2>

<%= form_tag restaurants_path, method: :get do %>
	<div class="ui input">
		<%= text_field_tag :q, nil, placeholder: "Search..." %>
	</div>
	<%= select_tag :cuisine, options_from_collection_for_select(Cuisine.all, :cuisine_id, :name), prompt: "Select Cuisine", class: "ui selection dropdown" %>
	<%= submit_tag "Search", disable_with: 'Searching...', class: "ui primary button" %>
<% end %>
<% if params[:q] %>
	<div class="ui message">
		<p>Showing <%= @restaurants.length %> results</p>
	</div>
<% end %>
<ul class="ui list">
<% @restaurants.each do |rest| %>
  <li><%= link_to rest.name, rest %></li>
<% end %>
</ul>