<h1>Restaurant Page</h1>

<ul>
  <li><strong> Name: <%= rest.name %></strong></li>
  <li>Locaiton: <%= rest.location %></li>
  <li>Cuisine: <%= rest.cuisine %></li>
  <li>Price: <%= rest.price %></li>
  <li>Rating: <%= rest.rating %></li>
</ul>
