<h1>Restaurant Page</h1>

<ul>
  <li><strong> Name: <%= @restaurant.name %></strong></li>
  <li>Locaiton: <%= @restaurant.location %></li>
  <li>Cuisine: <%= @restaurant.cuisine %></li>
  <li>Price: <%= @restaurant.price %></li>
  <li>Rating: <%= @restaurant.rating %></li>
</ul>
