<!DOCTYPE html>
<html>
  <head>
    <title>NewFriendsNewFoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @current_user %>
        <%= link_to "Restaurants", restaurants_path %>
        <%= link_to image_tag(@current_user.img_url, alt: "My Profile", title: "My Profile", size: 32), user_path(@current_user) %>
        </a>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
